.sun>img{
    width:20px;
    height:20px;
    
}
.main-cont{
    padding-top: 100px;
}
.container{
  
   display: flex;
   justify-content: center;
   flex-direction: column;
 
   height:100%;
   width:100%;
}
.delhi{
   

    color: rgb(42, 119, 145);
    font-size: 52px;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 8px;
}
.together{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-fluid{
    height:32px;
    position: sticky;
    top: 0;
    
}
nav{
    display: flex;  
    
}
.row{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 30px 30px 5px rgb(8, 95, 113);
    background-color: lightblue;
    margin:auto;
    padding: 2px;
    border-radius: 10px;
}


